@charset "utf-8";

@keyframes gradAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

.parallax-content{
    background-image:url(../images/career/parallax1.jpg);
    /*own image*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content2{
    background-image:url(../images/career/parallax2.jpg);
        /*own image*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content3{
    background-image:url(../images/career/parallax3.jpg);
        /*own image*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div.maincontent{
    background-color: white;
    border:1px solid black;
}

div#nextpage{
    min-height:200px;
    overflow-y:scroll
}

fieldset{
    color:black;
}


div#maincontent0{
    background: linear-gradient(358deg, #ffffff, #212529, #7a7a7a, #7a7a7a, #212529, #ffffff);
    background-size: 1200% 1200%;
    animation: gradAnimation 15s ease infinite;
}

#topBtn {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    background-color: grey; 
    padding: 15px; 
    border-radius: 10px; 
  }
  
#topBtn:hover {
    background-color: #212529; 
}