@charset "utf-8";
#parallax-content{
    background-image:url(../images/career/parallax1.jpg);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-content2{
    background-image:url(../images/career/parallax2.jpg);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-content3{
    background-image:url(../images/career/parallax3.jpg);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


div.maincontent{
    background-color: white;
    border:1px solid black;
}

div#nextpage{
    min-height:200px;
    overflow-y:scroll
}

fieldset{
    color:black;
}
