@charset "utf-8";
#parallax-content{
    background-image:url(../images/experience/F4470008.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-content2{
    background-image:url(../images/experience/F4470005.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.maincontent{
    min-height:560px;
    background-color: white;
    border:1px solid black;
}

div#nextpage{
    min-height:200px;
    overflow-y:scroll
}

div#p2row1divtext{
    font-size: 1.5em;
}