@charset "utf-8";
.parallax-content{
    background-image:url(../images/experience/F4470008.JPG);
        /*own image*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-content2{
    background-image:url(../images/experience/F4470005.JPG);
        /*own image*/
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.maincontent{
    min-height:560px;
    background-color: white;
    border:1px solid black;
}

div#nextpage{
    min-height:200px;
    overflow-y:scroll
}

div#p2row1divtext{
    font-size: 1.5em;
}

div#accordion4{
    max-height:360px;
    overflow-y: scroll;
    font-size:1rem;
}


/*calculator styles*/
.fop-terminal {
    border: 1px solid #cccccc;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin:auto;
}

.button {
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #ffffff;
}

.button:hover {
    background-color: grey;
    color:black;
}

.operator {
    color: #fff;
    background-color: grey;
}

.operator:hover{
    color:#ffffff;
    background-color:#f17377;
}

.clear {
    background-color: black;
    border-color: white;
    color: #fff;
    width: 80px;
    height: 60px;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: black;
    border-color: white;
    color: #fff;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.screen{
    background-color:rgb(171, 219, 231);
    justify-content: left;
    color: black;
    height:100%;
    text-align: right;
    width:30vh;
}

div#fop-terminal table td{
    border:1px solid white;
}
