@charset "utf-8";

/*start of animation keyframes*/
@keyframes gradAnimation {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

@keyframes instagram {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

@keyframes youtube {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

@keyframes twitter {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

@keyframes reddit {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

/*end of animation keyframes*/
/*start of css*/
.parallax-content{
    background-image:url(../images/feedback/parallax1.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content2{
    background-image:url(../images/feedback/parallax2.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.maincontent{
    min-height:560px;
    background-color: white;
    border:1px solid black;
}

section.formsectionfull{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    background-color: white;
    border: 3px solid black;
}

section.formsectionshrink{
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border:3px solid black;
}

div#easerating, div#navrating{
    background-color: #212529;
    color:white;
    border:3px solid white;
}

input#mailList{
    width:100px;
    height:100px;
}

div#ratingDiv{
    display:inline;
}

input#rating{
    width:80%;
}

div#formdiv {
    background: linear-gradient(358deg, #ffffff, #212529, #7a7a7a, #7a7a7a, #212529, #ffffff);
    background-size: 1200% 1200%;
    animation: gradAnimation 15s ease infinite;
}

i{
    font-size:3rem
}

#instagram {
    background: linear-gradient(336deg, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
    background-size: 1000% 1000%;
    border-radius:15px;
    animation: instagram 5s linear infinite;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

#instagram:hover{
    transform: translate(-10px, -10px);
    box-shadow:10px 10px #777777
}

#youtube{
    background: linear-gradient(336deg, #ff0000, #282828);
    background-size: 400% 400%;
    border-radius:15px;
    animation: youtube 5s linear infinite;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

#youtube:hover{
    transform:translate(-10px, -10px);
    box-shadow:10px 10px #777777;
}

#twitter {
    background: linear-gradient(336deg, #0084b4, #00aced, #1dcaff, #c0deed, #ffffff);
    background-size: 1000% 1000%;
    border-radius:15px;
    animation: twitter 5s linear infinite;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

#twitter:hover{
    transform:translate(-10px, -10px);
    box-shadow:10px 10px #777777;
}

#reddit{
    background: linear-gradient(336deg, #ff4500, #000000);
    background-size: 400% 400%;
    border-radius: 15px;
    animation: reddit 4s ease infinite;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

#reddit:hover{
    transform:translate(-10px, -10px);
    box-shadow:10px 10px #777777;
}
 
a#phone{
    background-color: #212529;
    color:white;
    border-radius: 15px;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}


a#email{
    background-color: #212529;
    color:white;
    border-radius: 15px;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

a#address{
    background-color: #212529;
    color:white;
    border-radius: 15px;
    transition:transform 0.3s linear, box-shadow 0.3s linear;
}

a#phone:hover, a#email:hover, a#address:hover{
    transform:translate(-10px, -10px);
    box-shadow:10px 10px #777777;
}

div#feedbackplea{
    display:inline;
}

a#pleatext{
    color:black;
    transition: text-decoration 1s linear;
}

a#pleatext:hover{
    text-decoration:underline;
}

div#socialmedia a.fullwidth{
    margin: 20px 20px 0px 0px
}

div#tradcontact a.fullwidth{
    margin: 20px 20px 0px 0px
}