@charset "utf-8";
.parallax-content{
    background-image:url(../images/feedback/parallax1.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content2{
    background-image:url(../images/feedback/parallax2.JPG);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.maincontent{
    min-height:560px;
    background-color: white;
    border:1px solid black;
}

section#form{
    margin-left:auto;
    margin-right:auto;
}

div#easerating, div#navrating{
    background-color: #212529;
    color:white;
}

input#mailList{
    width:100px;
    height:100px;
}

div#ratingDiv{
    display:inline;
}

input#rating{
    width:80%;
}