@charset "utf-8";

.parallax-content{
    background-image:url(../images/index/parallax2.jpg);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content2{
    background-image:url(../images/index/parallax.jpg);
    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.maincontent{
    background-color: white;
    border:1px solid black;
}

ul#navbardropdown{
    border:1px solid white;
}

ul#navbardropdown > li > a:hover {
    color:black;
}

div#row1divtext{
    font-size:1.5em;
}

div#nextpage{
    min-height:200px;
    overflow-y:scroll
}

img#row1selfportrait{
    border:1px solid black;
    border-radius:3px;
}

@keyframes cursor-blink{
    0%{opacity: 0;}
}

div#row1divtext::after{
    content : "_";
    width: 1px;
    height: 20px;
    background-color: black;
    animation: cursor-blink 1.5s steps(2) infinite;
    padding:1px;
}

@keyframes image-appear{
    0%{opacity:0 ;}
    100%{opacity:1 ;}
}

img#row1selfportrait{
    animation-name:image-appear;
    animation-duration:1s;
    animation-delay:4s;
}